<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Login - TIDAL Migrator</title>
    <style>
      .container {
        text-align: center;
        margin-top: 50px;
      }
      button {
        margin: 10px;
      }
    </style>
  </head>
  <body onload="loadFavorites()">
    <div class="container">
      <div id="favoritesContainer"></div>
      <!-- New Section for Displaying Favorites Count -->
      <div id="favoritesCount">
        <h2>Favorites Count</h2>
        <ul>
          {% for category, count in favorites_count.items() %}
          <li>{{ category }}: {{ count }}</li>
          {% endfor %}
        </ul>
      </div>
      <!-- End of New Section -->

      <div class="container">
        <h1>Login successful</h1>
        <input
          type="file"
          id="csvFileInput"
          name="files"
          accept=".csv"
          multiple
        />
        <button onclick="addFavorites()">Upload CSV to Tidal</button>
        <button onclick="saveFavorites()">Download CSV Files</button>
      </div>
    </div>

    <script>

    </script>
  </body>
</html>
